*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Space Grotesk", sans-serif;
}
:root {
  /*Colors*/
  --Linear-gradient/*(active input border)*/: hsl(249, 99%, 64%) to
    hsl(278, 94%, 30%);
  --Red/*(input errors)*/: hsl(0, 100%, 66%);
  /*Primary */

  --White: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
}
body {
  display: flex;
  align-items: center;
  min-height: 100vh;
  position: relative;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  background-image: url(../images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  font-size: 1.0625rem;
}
main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  gap: 5rem;
}
.attribution {
  position: absolute;
  bottom: 5px;
  right: 10%;
}
.card-section {
  max-width: 30rem;
  width: 100%;
}
.card-front {
  background-image: url(../images/bg-card-front.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.5rem;
  max-width: 28rem;
  width: 100%;
  font-weight: 800;
  color: var(--White);
  border-radius: 10px;
}
.white-big-dot {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
}
.dots-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}
.white-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid white;
}
.card-number {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.bot-inf {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}
.card-back {
  background-image: url(../images/bg-card-back.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.5rem;
  max-width: 28rem;
  width: 100%;
  color: var(--White);
  border-radius: 10px;
  height: 14rem;
  position: relative;
  margin-top: 2rem;
  margin-left: 5rem;
}
.cvc-code {
  position: absolute;
  top: 49%;
  right: 13%;
  font-weight: 800;
  font-size: 1.2rem;
}
.input-section {
  width: 100%;
  max-width: 25rem;
}
.input-name,
.card-number-input {
  max-width: 23rem;
  padding: 0.6rem;
  border-radius: 5px;
  border: 1px solid var(--Light-grayish-violet);
  width: 100%;
  font-size: 1rem;
  margin-bottom: 2rem;
  color: var(--Very-dark-violet);
}
.cardholder,
.card,
.date-exp,
.cvc {
  letter-spacing: 0.2rem;
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
}
.input-name:focus,
.card-number-input:focus,
.exp-m:focus,
.exp-y:focus,
.cvc-input:focus {
  outline: 1px solid var(--Very-dark-violet);
}
.exp-m,
.exp-y {
  max-width: 5rem;
  padding: 0.6rem;
  border-radius: 5px;
  border: 1px solid var(--Light-grayish-violet);
  width: 100%;
  font-size: 1rem;
  margin-bottom: 2rem;
  color: var(--Very-dark-violet);
}
.cvc-input {
  max-width: 10rem;
  padding: 0.6rem;
  border-radius: 5px;
  border: 1px solid var(--Light-grayish-violet);
  width: 100%;
  font-size: 1rem;
  margin-bottom: 2rem;
  color: var(--Very-dark-violet);
}
.input-bot {
  display: flex;
  gap: 1rem;
  max-width: 25rem;
}
.name-error,
.card-error,
.date-error,
.cvc-error {
  color: var(--Red);
  font-size: 0.9rem;
  display: none;
  margin-top: -2rem;
  margin-bottom: 2rem;
}
.name-error.active,
.card-error.active,
.date-error.active,
.cvc-error.active {
  display: flex;
}
.confirm-btn {
  background-color: var(--Very-dark-violet);
  color: var(--White);
  font-weight: 800;
  border-radius: 10px;
  border: none;
  font-size: 1.1rem;
  width: 100%;
  max-width: 23rem;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}
.confirm-btn:hover {
  box-shadow: 0 0 15px var(--Very-dark-violet);
}
.thank-you-section {
  display: none;
}
.continue-btn {
  background-color: var(--Very-dark-violet);
  color: var(--White);
  font-weight: 800;
  border-radius: 10px;
  border: none;
  font-size: 1.1rem;
  width: 100%;
  max-width: 23rem;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}
.thank-you-section h2 {
  letter-spacing: 0.4rem;
  color: var(--Very-dark-violet);
  margin: 1rem 0;
}
.msg {
  color: var(--Dark-grayish-violet);
  margin-bottom: 2rem;
}
.thank-you-section.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input-section.off,
.card-section.off {
  display: none;
}
@media (max-width: 800px) {
  main {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 4rem;
  }
  body {
    background-image: url(../images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: flex-start;
  }
  .card-section {
    position: relative;
  }
  .card-front {
    order: 2;
    position: absolute;
    max-width: 20rem;
    z-index: 2;
    top: 5rem;
    left: 1rem;
  }
  .card-back {
    order: 1;
    margin: 0;
    top: -3rem;
    right: 0.5rem;
    height: 12rem;
    position: absolute;
    max-width: 20rem;
  }
  .input-section,
  .thank-you-section.active {
    margin: 15rem auto;
    max-width: 20rem;
  }
  .cardholder,
  .card,
  .date-exp,
  .cvc {
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
  }

  .cvc-code {
    right: 1rem;
    top: 5.1rem;
  }
  .input-bot {
    max-width: 20rem;
  }
  .cvc-input {
    max-width: 8rem;
  }
}
